<?xml version="1.0" ?>

<plugin>


    <extension id="explanationoverride" point="org.protege.editor.core.application.EditorKitHook">
        <class value="uk.ac.manchester.cs.owl.explanation.ExplanationEditorKitHook"/>
    </extension>

    <extension id="JustificationBasedExplanation"
               point="org.protege.editor.owl.explanation">
        <name value="Justification Based Explanation"/>
        <class value="uk.ac.manchester.cs.owl.explanation.JustificationBasedExplanationServiceImpl"/>
    </extension>


    <extension id="BlackBoxInconsistentOntologyExplanationGenerator"
               point="org.protege.editor.owl.inconsistentOntologyExplanation">
        <class value="uk.ac.manchester.cs.owl.explanation.InconsistentOntologyExplanationPluginImpl"/>
        <name value="Inconsistent Ontology Explanation"/>
    </extension>

</plugin>
